<%-  include('includes/head.ejs') %>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <div class="notFound">
    <h1>404 not found</h1>
    <a href="/">goto home</a>
  </div>
</body>
</html>